<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <section class="home-section">
    <h1 id="home-title">
      Automobilista World Tour
    </h1>
    <div id="action-buttons">
      <ion-button size="large" fill="outline" (click)="createDriver()">
        <ion-icon slot="start" name="add-circle"></ion-icon>New Driver
      </ion-button>
      <ion-button size="large" fill="outline">
        <ion-icon slot="start" name="download"></ion-icon>Load Save
      </ion-button>
    </div>
  </section>
</ion-content>

<ion-footer>
  <div class="copyright-text">
    <small>Developed by Rockett Sally® - 2022</small>
  </div>
</ion-footer>
