<header class="awt-header">
  <section class="menu-button-area">
    <ion-button fill="clear" color="dark">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </section>
  <section class="title-text">
    Automobilista World Tour
  </section>
  <section class="player-details">
    <div class="currency-experience">
      <label><b>Raniel Dicciardo</b></label>
      <label>Cr. {{ 15000 | currency: 'BRL' : '' : '1.2-2' }}</label>
      <label>XP. {{ 6778 | currency: 'BRL' : '' : '1.2-2'}}</label>
    </div>

    <div class="level">
      <label>Level: <span class="level-number">3</span></label>
    </div>
  </section>
</header>
