<div class="awt-card stats-list-wrapper">
  <label class="awt-card-title">Lifetime Stats</label>

  <section class="awt-card-content stats-list-content">
    <label><b>Name:</b> Raniel Dicciardo</label>
    <label><b>Stating Date:</b> {{ '2023-01-23T12:08:33' | date }}</label>
    <label><b>Credits:</b> {{ 15000 | currency: 'BRL' : '' : '1.2-2' }}</label>
    <label><b>Experience (XP):</b> {{ 6778 }}</label>
    <label><b>Current Level:</b> {{ 3 }}/50</label>
    <label>&nbsp;</label>
    <label><b>Races Entered:</b> 10</label>
    <label><b>Races Finished:</b> 8</label>
    <label><b>Wins:</b> 5</label>
    <label><b>Top 5:</b> 6</label>
    <label><b>Top 10:</b> 8</label>
    <label><b>DNF:</b> 2</label>
  </section>
</div>
