<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Automobilista World Tour - World Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="world-map-section">
    <awt-world-tour-icon title="Garage" icon="home"></awt-world-tour-icon>
    <awt-world-tour-icon title="Dealership" icon="car-sport"></awt-world-tour-icon>
    <awt-world-tour-icon title="AMS League" icon="trophy"></awt-world-tour-icon>
    <awt-world-tour-icon title="Special Challenges" icon="medal"></awt-world-tour-icon>
    <awt-world-tour-icon title="Team Drive Offers" icon="people-circle"></awt-world-tour-icon>
  </section>
</ion-content>
