<ion-header>
  <awt-header-toolbar></awt-header-toolbar>
</ion-header>

<ion-content>
  <section class="world-map-section">
    <awt-world-tour-icon (click)="accessGarage()" id="garage" title="Access your Vehicles and Stats"
      iconTitle="Garage" icon="home">
    </awt-world-tour-icon>

    <awt-world-tour-icon id="dealership" title="Purchase Brand New Cars"
      iconTitle="Dealership" icon="car-sport">
    </awt-world-tour-icon>

    <awt-world-tour-icon id="league"  title="Compete in League Events and climb the ladder to become World Champion!"
      iconTitle="AMS League" icon="trophy">
    </awt-world-tour-icon>

    <awt-world-tour-icon id="challenges" title="Race in Special Events and Championships"
      iconTitle="Special Challenges" icon="medal">
    </awt-world-tour-icon>

    <awt-world-tour-icon id="offers"  title="Race for teams with vacant seats in one-off races to earn some quick Cash and Experience"
      iconTitle="Team Drive Offers" icon="people-circle">
    </awt-world-tour-icon>
  </section>
</ion-content>
